*.orig
*.db
obj/
output/
InternalDependencies/
App_Data/
[Bb]in/
*.xap
*.suo
*.docstates
*.scc
*.swp
*.~
*.obj

*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Dd]ebug*/
*.lib
*.sbr
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.testsettings
*.vssscc
*.vsmdi
!Dependencies/
*.ncrunch*
*.vsp
~$*.docx
UpgradeLog.XML
UPGRADELOG.HTM
_UpgradeReport_Files/
BackUp/
*.REMOTE.*
*.BASE.*
!*.base.css
*.BACKUP.*
*.LOCAL.*
*.psess
*.vsp
*PlanErrors.xml
*.~sql
!chromedriver.exe
*DBA_CHECK.TXT
!jquery.ui.base.min.css
src/Brady.ScrapRunner/.vs/config/applicationhost.config
src/Brady.ScrapRunner.Mobile/.vs/config/applicationhost.config
*.tss

# Exclude non-bwf packages in the repository
/packages
/packages/Acr.*
/packages/FluentValidation.6.2.1-beta1
/packages/LINQPad.*
/packages/MvvmCross.*
/packages/Microsoft*
/packages/Splat.1.6.2
/packages/SQLite.Net.Core-PCL.*
/packages/SQLite.Net.Async-PCL.*
/packages/SQLite.Net-PCL.*
/packages/System.Spatial*
/packages/Xamarin.*

/src/Components/signature-pad-1.3.8
/src/Components
