<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Acr.Support" version="1.1.1" targetFramework="monoandroid60" />
  <package id="Acr.UserDialogs" version="4.2.1" targetFramework="monoandroid60" />
  <package id="MvvmCross" version="4.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Binding" version="4.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Core" version="4.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Platform" version="4.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.StarterPack" version="4.0.0" targetFramework="monoandroid60" />
  <package id="Splat" version="1.6.2" targetFramework="monoandroid60" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="monoandroid60" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="monoandroid60" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="monoandroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.1.1.0" targetFramework="monoandroid60" />
</packages>