<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="4.1.1" targetFramework="net452" />
  <package id="bwf.dataservices.core" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.domain" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.filterconverters.nhibernate" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.live.notification" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.metadata" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.notification" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.parser" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.query" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.queryconverters.nhibernate" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.dataservices.support.nhibernate" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.enums" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.globalisation" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf.hosting.infrastructure" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf-dataservices-nhibernate-requirements" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf-fluentvalidation" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf-nhibernate" version="2016.1.121-latest" targetFramework="net452" />
  <package id="bwf-ninject" version="2016.1.0.6" targetFramework="net452" />
  <package id="bwf-telerik-reporting" version="2016.1.0.6" targetFramework="net452" />
  <package id="CompareNETObjects" version="1.7.3.0" targetFramework="net452" />
  <package id="FluentValidation" version="4.0.0.1" targetFramework="net452" />
  <package id="FParsec" version="1.0.2" targetFramework="net452" />
  <package id="FSharp.Core.3" version="0.0.2" targetFramework="net452" />
  <package id="Iesi.Collections" version="4.0.0.4000" targetFramework="net452" />
  <package id="log4net" version="2.0.3" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="8.0.2" targetFramework="net452" />
  <package id="NHibernate" version="4.0.1.4000" targetFramework="net452" />
  <package id="odp.net.x86" version="112.3.20" targetFramework="net452" />
  <package id="Rx-Core" version="2.2.2" targetFramework="net452" />
  <package id="Rx-Interfaces" version="2.2.2" targetFramework="net452" />
  <package id="Rx-Linq" version="2.2.2" targetFramework="net452" />
</packages>